# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Sensitive files
*.pem
*.key

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db